<h1> Create a Team and Heroes! </h1>
<form action="/teams" method="post">
  <div>Superhero Team name: <input type="text" name="team[name]"></div>
  <div>Superhero Team motto: <input type="text" name="team[motto]"></div>
  <h1>Hero 1</h1>
  <div>Superhero name: <input id="member1_name" type="text", name="team[members][][name]"></div>
  <div>Superhero power: <input id="member1_power" type="text", name="team[members][][power]"></div>
  <div>Superhero bio: <input id="member1_bio" type="text", name="team[members][][bio]"></div>
  <h1>Hero 2</h1>
  <div>Superhero name: <input id="member2_name" type="text", name="team[members][][name]"></div>
  <div>Superhero power: <input id="member2_power" type="text", name="team[members][][power]"></div>
  <div>Superhero bio: <input id="member2_bio" type="text", name="team[members][][bio]"></div>
  <h1>Hero 3</h1>
  <div>Superhero name: <input id="member3_name" type="text", name="team[members][][name]"></div>
  <div>Superhero power: <input id="member3_power" type="text", name="team[members][][power]"></div>
  <div>Superhero bio: <input id="member3_bio" type="text", name="team[members][][bio]"></div>
  <input id="submit" type="submit">
</form>